
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menuOculto{
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #262626;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menuOculto a{
    padding: 8px 8px 8px 30px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.5s;
}

.menuOculto a:hover{
    color: #fff;
}

.btnFechar{

}